* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'montseratt', sans-serif;
}

.App{
  background-image: url(./assets/frio.jpeg);
  background-size: cover;
  background-position: bottom;
  transition: 0.4 ease-out;
}

.Appcalor {
  background-image: url(./assets/calor.jpeg);
}

main {
  min-height: 100vh;
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.2), rgba(0,0,0,0.75));
  padding: 25px;
}


.search-box .search-bar {
  position: absolute;
  width: 368px;
  height: 55px;
  left: 21px;
  top: 191px;
  
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.55);
  border-radius: 50px;
  appearance: none;
  background: #FFF;
  border: none;
  outline: none;
  text-align: center;
  font-size: 24px;
  font-weight: 300;
}

.temperatura {
  position: absolute;
  width: 169px;
  height: 85px;
  left: 23px;
  top: 415px;

  font-style: normal;
  font-weight: 800;
  font-size: 70px;
  line-height: 85px;

  color: #FFFFFF;
}

.localizao-box{
  position: absolute;
  width: 368px;
  height: 128px;
  left: 23px;
  top: 500px;

  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}

.localizao-box .localizacao {
  position: absolute;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 44px;
  color: #FFFFFF;
  margin-left: 65px;
  margin-top: 10px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.localizao-box .data {

  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  /* line-height: 29px; */
  color: #FFFFFF;
  margin-top: 60px;
  margin-left: 30px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}